.card {
  flex: none;
  cursor: pointer;
  width: calc(33.22vw - 10.25rem);
  min-width: 27rem;
  max-width: 53rem;
  min-height: 29rem;
  aspect-ratio: 1.15 / 1;
  background-color: $c-white;
  transform: translateZ(0);
  perspective: 1000px;
  backface-visibility: hidden;

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  &.active {
    .card__inner {
      transform: rotateY(180deg);
    }
  }
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-s;
  overflow: hidden;
  backface-visibility: hidden;
  background-color: $c-white;
}

.front {
  z-index: 10;

  .image {
    display: flex;
    border-radius: 0.75rem;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }

  .meta {

    p,
    h2 {
      margin: 0;
    }

    p {
      font-size: 1.4rem;
      line-height: 1.3;
    }
  }

  .addToWishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: $c-white;
    border: 1px solid $c-grey;
    border-radius: 50%;
    padding: $spacing-xs;
    margin: $spacing-xs;
    width: 5rem;
    height: 5rem;
    cursor: pointer;

    svg {
      width: 100%;
    }
  }
}

.back {
  transform: rotateY(180deg);

  span {
    display: grid;
    gap: $spacing-tiny;
    font-size: 1.4rem;
    line-height: 1.3;

    @media (min-width: $bp-desktop) {
      gap: $spacing-m;
      grid-template-columns: 1fr 3fr;
    }
  }
}