$spacing-tiny: 4px;
$spacing-xxs: 0.8rem;
$spacing-xs: 1.2rem;
$spacing-s: 1.6rem;
$spacing-m: 2.25rem;
$spacing-l: 3.2rem;
$spacing-xl: 4rem;
$spacing-xxl: 9rem;
$spacing-mega: 18rem;

$gap-width: 2.25rem